*~
.#*
\#*
.DS_Store
*.elc
/recentf
/saveplace
/savehist
/ido.last
elpa/
el-get/
.cache/
url/
/projectile-bookmarks.eld
/projectile.cache
/tramp
/irony
/company-statistics-cache.el
/.cask
/eshell
transient/
/.lsp-session-*
/.projectile
/.dumbjump
/.lsp*
/.dap*
/.mc*
/multi-libvterm/
/.org-id-locations
/auto/
/bookmarks
/custom.el
/emacs-libvterm/
/emms/
/groovy-language-server/
/org-gcal/
/rust-analyzer/
